$page-width: 1160px;
$bgcolor: #fff;
$hover-color: #248cec;
$bar-color: #2a2d32;
$bar-color-secondary: #35383c;
$bar-link-color: #fff;
$bar-hotlink-color: #f4b60d;
$text-color: #8a8a8a;

$logo-title-color: #434343;
$logo-subtitle-color: #333;

$social-color: #ccc;

$topbar-border-color: #181a1d;

$slider-height: 470px;

$accordion-border: #e8e8e8;
